*{
	margin:0px;
	padding:0px;
}

/*style for; body of calulator*/
.main-div{
	height:200px;
	width:220px;
	position:relative;
	top:150px;                 
	left:250px;
	background-color:#4ee1a9;
	border-radius:10px;
}

/*style for; buttons within calulator*/
.btn1  button{
	width:70px;
	height:30px;
	position:absolute;
	top:60px;
	left:25px;
    background-color:#00008B;
	border:none;
	text-align:center;
	color:white;
	font-weight:bold;
	border-radius:5px;
}
.btn1 button:hover{
	background-color:#FF1493;
}
.btn2  button{
	width:70px;
	height:30px;
	position:absolute;
	top:60px;
	left:120px;
	background-color:#00008B;
	border:none;
	text-align:center;
	color:white;
	font-weight:bold;
	border-radius:5px;
}
.btn2 button:hover{
	background-color:#FF1493;
}
.btn3  button{
	width:70px;
	height:30px;
	position:absolute;
	top:100px;
	left:25px;
	background-color:#00008B;
	border:none;
	text-align:center;
	color:white;
	font-weight:bold;
	border-radius:5px;
}
.btn3 button:hover{
	background-color:#FF1493;
}
.btn4  button{
	width:70px;
	height:30px;
	position:absolute;
	top:100px;
	left:120px;
	background-color:#00008B;
	border:none;
	text-align:center;
	color:white;
	font-weight:bold;
	border-radius:5px;
}
.btn4 button:hover{
	background-color:#FF1493;
}
.btn5 button{
	width:70px;
	height:30px;
	position:absolute;
	top:140px;
	left:25px;
    background-color:#00008B;
	border:none;
	text-align:center;
	color:white;
	font-weight:bold;
	border-radius:5px;
}
.btn5 button:hover{
	background-color:#FF1493;
}
.btn6  button{
	width:70px;
	height:30px;
	position:absolute;
	top:140px;
	left:120px;
	background-color:#00008B;
	border:none;
	text-align:center;
    color:white;
	font-weight:bold;
	border-radius:5px;
}
.btn6 button:hover{
	background-color:#FF1493;
}



